<h1>Listing words</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>
        <% if params[:sort]=="freq_asc" %>
        <%= link_to "Freqence", "?sort=freq_desc" %>
        <% else %>
            <%= link_to "Freqence", "?sort=freq_asc" %>
        <% end %>
      </th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= word.name %></td>
        <td><%= word.freq %></td>
        <td><%= word.attr %></td>
        <td><%= link_to 'Show', word %></td>
        <td><%= link_to 'Edit', edit_word_path(word) %></td>
        <td><%= link_to 'Destroy', word, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @words%>

<br>

<%= link_to 'New Word', new_word_path, :class => "btn btn-primary" %>
