<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @word.name %>
</p>

<p>
  <strong>Freq:</strong>
  <%= @word.freq %>
</p>

<p>
  <strong>Attr:</strong>
  <%= @word.attr %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
